@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
.cursive{
  font-family: cursive;
}

.data-image{
  z-index: 2;
}
.header{
  z-index: 99;
}
#navbar a.active{
  border-bottom: 2px solid #006435;
  color: #006435;
}
#mobilenavbar a.active{
  border-bottom: 2px solid #006435;
  color: #006435;
}